@import "tailwindcss";

::selection {
    background-color: #e0c793a6;
    color: #1e2939;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#app {
    min-height: 100vh;
}